name: Global Merge

on:
  schedule:
    - cron: "15 */6 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - run: pip install -r requirements.txt

      - run: python main_filter.py

      - run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add final.txt
          git commit -m "update final list" || echo "No changes"
          git push
