name: Global Merge

on:
  schedule:
    - cron: "15 */6 * * *"   # هر 6 ساعت، 15 دقیقه بعد از Repo-4
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Merge Script
        run: python main_filter.py

      - name: Commit and Push final.txt
        run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add final.txt
          git commit -m "update final list" || echo "No changes"
          git push
